@media screen and (max-width: 1079px) {

.pc .aside{
	width:70px;
	.logo{
		padding:10px 5px 20px 5px;
		a{
			display:block;
			overflow:hidden;
		}
		img{
			width:160%;
		}
	}
	.signature{
		display:none;
	}
	.menu-nav{
		text-align:center;
		&.current{
			color:#f00;
		}
		i{
			display:none;
		}
	}
	.list-nav{
		margin-bottom:10px;
		li{
			margin-bottom:5px;
			padding:10px 0;
		}
	}
	.copyright{
		position:fixed;
		text-align:right;
		background-color:#f3f3f3;
		border-top-left-radius:100%;
	}
}
.pc .content{
	padding-left:110px;
}

}