@media screen and (min-width: 1080px) {

.pc .aside{
	width:280px;
	.logo{
		padding:40px;
	}
	.signature{
		display:block;
		padding:10px 0;
		background-color:#fefefe;
		text-align:center;
		color:#999;
		font-size:14px;
	}
	.menu{
		padding-top:20px;
	}
	.menu-nav{
		position:relative;
		padding-left:20px;
		&:after{
			position:absolute;
			@include positionMiddle;//垂直居中
			right:10px;
			width:5px;
			height:60%;
			overflow:hidden;
			content: ' ';
			background-color:#ccc;
			border-radius:5px;
		}
		&.current{
			&:after{
				background-color:#f00;
			}
		}
		i{
			font-size:28px;
			padding-left:20px;
		}
	}
	.list-nav{
		font-size:0;
		padding-bottom:5px;
		li{
			display:inline-block;
			width:47%;
			margin-left:2%;
			font-size:20px;
			border-radius:5px;
		}
	}
	.copyright{
		position:absolute;
		left:0;
		text-align:center;
	}
}
.pc .content{
	padding-left:320px;
}

}