@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
body,button,input,select,textarea{font:400 .75rem/1.5 Arial,"Lucida Grande",Verdana,"Microsoft YaHei","SimHei", sans-serif;color:#333;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe{display:block;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
address,cite,dfn,em,var,i{font-style:normal;font-weight:400;}
html,body{height:100%;}
dfn{font-family:Arial;}
ul,ol{list-style:none;}
pre{white-space:pre-wrap;word-wrap:break-word;}
img{max-width:100%;height:auto;}
a{color:#333;text-decoration:none;}
fieldset,img,button,input{border:0;}
button,input,select,textarea{font-size:100%;}
button,input[type="button"], input[type="submit"]{line-height:normal !important;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea{border:0;background:transparent;-webkit-box-sizing:border-box;box-sizing:border-box;outline:0;-webkit-appearance:none;border-radius:0;}
body{min-width:16rem;overflow-x:hidden;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;-moz-user-select:none;background-color:#eee;}
h1{font:600 1rem/2 Tahoma,"Microsoft YaHei","SimHei";}
h2{font:600 0.9rem/2 Tahoma,"Microsoft YaHei","SimHei";}
h3{font:600 0.8rem/1.5 Tahoma,"Microsoft YaHei","SimHei";}
:focus{outline:0;}
.ellips{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.clearfix:after{clear:both;content:'.';display:block;height:0;visibility:hidden;line-height:0;}
.line-between{width:100%;height:1px;background-color:#dfdfdf;}
.mask-layer{position:fixed;top:0;right:0;bottom:0;left:0;z-index:990;background-color:rgba(0,0,0,.5);} /* 遮罩层 */

/* font icon | 字体图标 */
@font-face {
    font-family: "icomoon";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot") format("embedded-opentype"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.svg") format("svg");
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {content: "\e900";}
.icon-books:before {content: "\e920";}
.icon-stack:before {content: "\e92e";}
.icon-location:before {content: "\e947";}
.icon-undo2:before {content: "\e967";}
.icon-bubble:before {content: "\e96b";}
.icon-user-tie:before {content: "\e976";}
.icon-quotes-left:before {content: "\e977";}
.icon-quotes-right:before {content: "\e978";}
.icon-spinner9:before {content: "\e982";}
.icon-search:before {content: "\e986";}
.icon-cog:before {content: "\e994";}
.icon-tree:before {content: "\e9bc";}
.icon-eye-blocked:before {content: "\e9d1";}
.icon-cross:before {content: "\ea0f";}
.icon-checkmark:before {content: "\ea10";}
.icon-circle-right:before {content: "\ea42";}
.icon-circle-left:before {content: "\ea44";}

/* display | 显示 */
.inline{display:inline !important;}
.inline-block{display:inline-block !important;}
.block{display:block !important;}
.hide{display:none !important;}

/* float | 浮动 */
.float-l{float:left !important;}
.float-r{float:right !important;}
.float-n{float:none !important;}

/* position | 定位 */
.position-l{left: 0 !important;right:auto !important;}
.position-r{right: 0 !important;left:auto !important;}
.position-t{top: 0 !important;bottom:auto !important;}
.position-b{bottom: 0 !important;top:auto !important;}

/* text | 文本样式 */
.font-mini{font-size:.6rem !important;}
.font-small{font-size:.65rem !important;}
.font-normal{font-size:.7rem !important;}
.font-common{font-size:.75rem !important;}
.font-primary{font-size:.8rem !important;}
.font-big{font-size:.9rem !important;}
.font-large{font-size:1rem !important;}
.font-huge{font-size:1.2rem !important;}
.font-bigger{font-size:1.6rem !important;}

.font-bold{font-weight:bold !important;}
.font-normal{font-weight:normal !important;}

.color-white{color:#fff !important;}
.color-gray{color:#82898d !important;}
.color-black{color:#333 !important;}
.color-blue{color:#0b9ee7 !important;}
.color-orange{color:#fd8612 !important;}

.text-left{text-align:left !important;}
.text-right{text-align:right !important;}
.text-center{text-align:center !important;}

.text-single{line-height:1 !important;}

/* gap | 间距 */
.gap-horizontal{margin:0 .5rem !important;}
.gap-vertical{margin:.5rem 0 !important;}
.gap-top{margin-top:.5rem !important;}
.gap-right{margin-right:.5rem !important;}
.gap-bottom{margin-bottom:.5rem !important;}
.gap-left{margin-left:.5rem !important;}

/* btn ｜ 按钮 */
.btn-fill,.btn-stroke{display:inline-block;width:100%;border:1px solid;text-align:center;color:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;}
.btn-stroke{background-color:transparent !important;}
.btn-disabled{background-color:#efefef !important;border-color:#efefef !important;color:#b2b2b2 !important;}
.btn-blue{background-color:#0b9ee7;border-color:#0b9ee7;}
.btn-orange{background-color:#ffdd50;border-color:#ffdd50;}
.btn-white{background-color:#fff;border-color:#fff;}
.btn-gray{background-color:#b0b8bd;border-color:#b0b8bd;}
.btn-normal{height:2.2rem;line-height:2.2rem;border-radius:.3rem;font-size:.9rem;}
.btn-full{padding:.67rem 0;font-size:.8rem;}
.btn-inline{display:inline-block;width:auto !important;padding:.2rem 1.25rem;vertical-align:middle;border-radius:.2rem;font-size:.8rem;}

/* dot | 加载点动画 */
.dot{display:inline-block;position:relative;width:1px;height:100%;vertical-align:text-top;}
.dot:after{content:"···";position:absolute;left:0;top:0;font-weight:bold;-webkit-animation:loadingDot 2s steps(3) infinite;animation:loadingDot 2s steps(3) infinite;}

@-webkit-keyframes loadingDot {
	0% {content:"·";}
	50% {content:"··";}
	100% {content:"···";}
}

@keyframes loadingDot {
	0% {content:"·";}
	50% {content:"··";}
	100% {content:"···";}
}

/* form ｜ 表单 */
.form-mode{padding:0 .5rem;margin-bottom:.5rem;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background-color:#fff;}
.form-group{position:relative;margin:.325rem 0;}
.form-group .group-name{position:absolute;top:0;left:0;color:#82898d;}
.form-group .group-cont{position:relative;word-wrap:break-word;word-break:normal;}

.form-group .form-input{width:100%;height:100%;vertical-align:top;}
.form-group .form-textarea{width:100%;max-width:100%;}

.form-group .group-arrow{padding-right:2.15rem;}
.form-group .group-arrow:after{content:"";position:absolute;top:50%;right:-.75rem;width:2.15rem;height:2.1rem;background:url(../images/icon_form.png) center top no-repeat;background-size:2.15rem auto;-webkit-transform:translateY(-50%);transform:translateY(-50%);}

.form-group .group-cont.error{border-color:rgba(242, 38, 38, .7);}

.form-select .group-cont.checked{color:#0f9fe7;padding-right:1.75rem;}
.form-select .group-cont.checked:after{content:"";position:absolute;top:50%;right:.25rem;width:1rem;height:.5rem;border-left:1px solid #0b9ee7;border-bottom:1px solid #0b9ee7;-webkit-transform:translateY(-80%) rotate(-45deg);transform:translateY(-80%) rotate(-45deg);}

.form-twin-two .group-cont{padding-left:2.25rem;}
.form-twin-three .group-cont{padding-left:3rem;}
.form-twin-four .group-cont{padding-left:3.75rem;}
.form-twin-five .group-cont{padding-left:4.5rem;}
.form-twin-six .group-cont{padding-left:5.25rem;}
.form-twin-seven .group-cont{padding-left:6rem;}
.form-twin-eight .group-cont{padding-left:6.75rem;}
.form-twin-nine .group-cont{padding-left:7.5rem;}

.form-single{margin:0;}
.form-single .group-name,.form-single .group-cont{height:2.25rem;line-height:2.25rem;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.form-multi .group-name,.form-multi .group-cont{padding-top:.25rem;padding-bottom:.25rem;}

/* pop | 弹层 提示框 */
.pop-mode{position:fixed;top:50%;left:50%;z-index:999;padding:.5rem;border-radius:.3rem;background-color:rgba(0,0,0,.6);-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box;}
.pop-mode .icon{display:inline-block;position:relative;margin-right:.25rem;vertical-align:middle;}

.pop-mode .icon-success{width:.75rem;height:.4rem;margin-top:-.5rem;border-left:1px solid #fff;border-bottom:1px solid #fff;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}

.pop-mode .icon-fail{width:.7rem;height:.7rem;}
.pop-mode .icon-fail:before,.pop-mode .icon-fail:after{content:"";position:absolute;top:0;left:50%;width:1px;height:100%;background-color:#fff;}
.pop-mode .icon-fail:before{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.pop-mode .icon-fail:after{-webkit-transform:rotate(45deg);transform:rotate(45deg);}

.pop-loading{width:2.25rem;height:2.25rem;margin:0 auto .2rem auto;background:url(../images/loading.png) no-repeat;background-size:contain;-webkit-animation:loadingRotate .8s infinite;animation:loadingRotate .8s infinite;}
.pop-text{color:#fff;font-size:.65rem;}
.pop-normal{width:12.375rem;}
.pop-load{width:4.5rem;}
.pop-load .pop-text{color:#0b9ee7;font-size:.7rem;}

@-webkit-keyframes loadingRotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@keyframes loadingRotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

/* alert ｜ 弹层 对话框 */
.alert-mode{position:fixed;top:50%;left:50%;z-index:999;border-radius:.2rem;background-color:#fff;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box;}
.alert-title{padding:1rem .5rem .5rem .5rem;font-weight:bold;}
.alert-title + .alert-cont .alert-text{padding-top:0;}
.alert-cont,.alert-btn{display:table;width:100%;border-collapse:collapse;table-layout:fixed;}
.alert-text{display:table-cell;padding:1rem .5rem;font-size:.7rem;vertical-align:middle;}
.alert-btn .btn-item{display:table-cell;padding:.5rem 0;border:1px solid #e0e0e0;border-bottom:none;}
.alert-btn .btn-item:first-child{border-left:none;}
.alert-btn .btn-item:last-child{border-right:none;}
.alert-normal{width:12.375rem;}

.alert-bottom{left:1rem;right:1rem;background-color:transparent;top:auto;bottom:.5rem;-webkit-transform:translate(0,0);transform:translate(0,0);font-size:.9rem;}
.alert-bottom .alert-cont{display:block;border-radius:.2rem;background-color:#fff;margin-bottom:.5rem;padding:0 .5rem;-webkit-box-sizing:border-box;box-sizing:border-box;}
.alert-bottom .list-item{padding:.5rem 0;color:#0b9ee7;}
.alert-bottom .alert-btn{display:block;border-radius:.2rem;background-color:#fff;}
.alert-bottom .alert-btn .btn-item{display:block;border-top:none;}

/* modal | 模态 */
.modal-mode{position:fixed;top:50%;left:1rem;right:1rem;z-index:999;border-radius:.2rem;background-color:#fff;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;}
.modal-mode .modal-title{position:relative;height:2.2rem;line-height:2.2rem;padding:0 .75rem;color:#82898d;font-size:.8rem;background-color:#f4f4f4;border-bottom:1px solid #dfdfdf;}
.modal-mode .btn-close{position:absolute;top:0;right:0;width:2.2rem;height:2.2rem;}
.modal-mode .btn-close:before,.modal-mode .btn-close:after{content:"";position:absolute;top:25%;left:50%;width:2px;height:50%;background-color:#b0b0b0;}
.modal-mode .btn-close:before{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.modal-mode .btn-close:after{-webkit-transform:rotate(45deg);transform:rotate(45deg);}

.modal-normal .form-mode{border-top:none;border-bottom:none;margin-bottom:0;background-color:transparent;}

/* load mode | load-mode1 页面刷新 | load-mode2 内容加载  */
.load-mode1{position:fixed;top:50%;left:50%;z-index:999;width:8rem;text-align:center;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
.load-mode1 .icon-load{display:inline-block;width:8rem;height:2.5rem;background:url(../images/logo.png) no-repeat;background-size:contain;-webkit-animation:loadingFlip 1.5s infinite;animation:loadingFlip 1.5s infinite;}
.load-mode1 .text-load{color:#969ea2;}

@-webkit-keyframes loadingFlip {
	from {-webkit-transform:rotateY(0deg);}
	to {-webkit-transform:rotateY(360deg);}
}

@keyframes loadingFlip {
	from {transform:rotateY(0deg);}
	to {transform:rotateY(360deg);}
}

.load-mode2{padding:.5rem 0;text-align:center;}
.load-mode2 .icon-load{display:inline-block;width:1.1rem;height:1.1rem;vertical-align:middle;background:url(../images/loading.png) no-repeat;background-size:contain;-webkit-animation:loadingRotate .8s infinite;animation:loadingRotate .8s infinite;}
.load-mode2 .text-load{margin-left:.2rem;color:#969ea2;vertical-align:middle;}

/* list mode | list-mode1 列表展示模块1（用于首页） | list-mode2 列表展示模块2（用于各大分类） | list-mode3 列表展示模块3（用于搜索） */
.list-mode1 .mode-title{height:1.6rem;margin-bottom:1px;padding:0 .5rem;line-height:1.6rem;background-color:#fff;}
.list-mode1 .mode-title .btn-action{float:right;font-size:.6rem;}
.list-mode1 .mode-title .action-item{display:inline-block;vertical-align:top;margin-left:.25rem;color:#999;}
.list-mode1 .mode-title .title-name{font-size:.8rem;font-weight:normal;}
.list-mode1 .mode-cont{background-color:#fff;padding:.5rem 0;}
.list-mode1 .mode-cont .list-item{float:left;width:49.999%;height:1.5rem;line-height:1.5rem;padding:0 .5rem;border-right:1px solid #eee;-webkit-box-sizing:border-box;box-sizing:border-box;}
.list-mode1 .mode-cont .list-item:nth-child(2n){border-right:none;}
.list-mode1 .mode-cont .list-item .item{display:block;width:100%;height:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;font-size:.6rem;}

.list-mode2 .list-item{position:relative;padding:.25rem .5rem;margin-bottom:.5rem;background-color:#fff;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;font-size:.6rem;}
.list-mode2 .item-title{font-size:.8rem;font-weight:normal;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.list-mode2 .item-info{color:#666;max-height:2.7rem;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.list-mode2 .item-data{float:left;line-height:1.4rem;color:#666;}
.list-mode2 .item-tags{float:right;padding-top:.15rem;font-size:0;}
.list-mode2 .item-tags .tags-item{margin-left:.25rem;}
.list-mode2 .item-link{position:absolute;top:0;right:0;bottom:0;left:0;}

.list-mode3{padding:0 .5rem;background-color:#fff;}
.list-mode3 .list-item{border-bottom:1px solid #dfdfdf;padding:.75rem 0;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.list-mode3 .list-item:last-child{border-bottom:none;}

/* network | 网络提示 */
.network-mode1,.network-mode2{text-align:center;}
.network-mode1 .icon-network,.network-mode2 .icon-network{display:inline-block;background:url(../images/icon_network.png) no-repeat;background-size:5.75rem auto;}

.network-mode1{padding-top:3.5rem;}
.network-mode1 .icon-network{width:5.75rem;height:4.25rem;}
.network-mode1 .text-network{margin:1rem 0 2rem 0;}
.network-mode1 .btn-normal{width:6.75rem;height:auto;padding:0.6rem 0;line-height:1;border-radius:.125rem;}

.network-mode2{padding:.5rem 0;}
.network-mode2 .icon-network{width:1.25rem;height:1rem;background-position:0 -4.75rem;vertical-align:middle;}
.network-mode2 .text-network{margin-left:.2rem;color:#969ea2;vertical-align:middle;}

/* title mode | 通用标题 */
.title-mode .title-cont{padding:.5rem .5rem 0 .5rem;font-size:.8rem;font-weight:normal;color:#82898d;background-color:#efeff4;border-bottom:1px solid #dfdfdf;}
.title-mode ~ .form-mode{border-top-color:transparent;}