/* header */
.header{height:2.2rem;}
.header .header-cont{position:fixed;top:0;right:0;left:0;z-index:99;height:2.2rem;background-color:#eee;border-bottom:1px solid #d4d4d4;}
.header .header-title{margin:0 4.4rem;text-align:center;font-size:.85rem;font-weight:normal;line-height:2.2rem;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.header .header-icon{position:absolute;top:0;width:2.2rem;height:2.2rem;background:url(../images/icon_header.png) no-repeat;background-size:cover;}
.header .icon-back{left:0;}
.header .icon-home2{right:0;background-position:0 -2.2rem;}
.header .icon-search2{right:0;background-position:0 -4.4rem;}

.header .header-btn{position:absolute;top:0;right:0;padding:0 .75rem;height:2.2rem;line-height:2.2rem;}

.header .header-search{position:relative;margin:.35rem 3.25rem .35rem .75rem;height:1.5rem;border-radius:1.5rem;background-color:#f8f8f8;}
.header .header-search .in-search{width:100%;height:100%;padding:0 1.75rem;font-size:.7rem;}
.header .header-search .icon-search-input,.header .header-search .btn-clear{position:absolute;top:50%;width:1.5rem;height:1.5rem;background:url(../images/icon_header.png) no-repeat;background-size:2.2rem auto;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.header .header-search .icon-search-input{left:.25rem;background-position:0 -6.6rem;}
.header .header-search .btn-clear{right:.25rem;background-position:0 -8.1rem;}

/* menu */
.menu{height:2.45rem;}
.menu .menu-cont{display:-webkit-flex;display:-webkit-box;display:flex;position:fixed;bottom:0;right:0;left:0;z-index:99;height:2.45rem;border-top:1px solid #d4d4d4;text-align:center;background-color:#fff;}
.menu .menu-item{position:relative;-webkit-flex:1;-webkit-box-flex:1;flex:1;padding-top:.3rem;}
.menu .menu-icon{display:block;height:1.2rem;line-height:1.2rem;font-size:1.2rem;}
.menu .menu-text{display:block;font-size:.6rem;}
.menu .cur{color:#c00;}

/* sub menu */
.sub-menu{height:2.4rem;margin-bottom:.5rem;}
.sub-menu .sub-menu-cont{display:-webkit-flex;display:-webkit-box;display:flex;position:fixed;top:2.2rem;left:0;right:0;z-index:98;height:2.4rem;background-color:#fff;border-bottom:1px solid #dfdfdf;}
.sub-menu .menu-item{-webkit-flex:1;-webkit-box-flex:1;flex:1;text-align:center;line-height:2.4rem;}
.sub-menu .cur{border-bottom:2px solid #c00;color:#c00;}

/* content */
.tags-item{display:inline-block;border:1px solid;min-width:1.5rem;text-align:center;padding:0 .25rem;border-radius:.125rem;font-size:.55rem;line-height:1rem;vertical-align:middle;}
.tags-item1{color:#f7615d;border-color:#f8acaa;}
.tags-item2{color:#1fcd81;border-color:#8bdab6;}
.tags-item3{color:#0b9ee7;border-color:#87cbec;}
.tags-item4{color:#fe8d13;border-color:#f1b97c;}

/* detail */
.detail-mode{background-color:#fff;margin-bottom:.5rem;}
.detail-mode .detail-title{padding:.5rem;text-align:center;font-size:1rem;font-weight:normal;line-height:1.5;}
.detail-mode .detail-data{padding:0 .5rem;text-align:center;font-size:0;color:#999;}
.detail-mode .detail-data .data-item{display:inline-block;margin:0 .25rem;font-size:.6rem;}
.detail-mode .detail-cont{padding:.5rem;font-size:.7rem;color:#666;}
.detail-mode .detail-cont p{margin-bottom:.25rem;}

 /* index */
.index-search{padding:2.5rem 0 1rem 0;background-color:#fff;}
.index-search .index-logo{width:8rem;height:2.5rem;margin:0 auto 1rem auto;}
.index-search .index-logo img{display:block;width:100%;height:100%;}
.index-search .search-cont{margin:0 1rem;padding:.25rem;border-radius:.25rem;border:1px solid #ccc;}
.index-search .search-input{height:1.5rem;padding-left:.25rem;padding-right:3.25rem;}
.index-search .text{width:100%;height:100%;font-size:.7rem;line-height:1.5rem;color:#999;}
.index-search .submit{float:right;width:3rem;height:1.5rem;font-size:1rem;border-radius:0 .25rem .25rem 0;background-color:#eee;}
.index-list{margin-top:.5rem;}

/* article */

/* site */
.site-list .item-tags{float:right;padding-top:.25rem;}

/* case */
.case-detail .list-mode1 .mode-cont .item{font-size:.75rem;}

/* search */
.history-action{height:3.45rem;}
.history-action .action-cont{position:fixed;left:0;right:0;bottom:0;height:3.45rem;padding:.75rem 2.4rem;background-color:#efeff4;-webkit-box-sizing:border-box;box-sizing:border-box;}
.history-action .btn-normal{height:100%;font-size:.7rem;}

.search-nothing{text-align:center;padding-top:3.75rem;}
.search-nothing .text{margin-top:.75rem;}

/* resume */
.resume-photo{padding:.5rem 0;margin:0 -.5rem;background-color:#eee;}
.resume-photo img{display:block;width:5rem;height:5rem;margin:0 auto;border-radius:100%;}

/* screen */
@media (min-width: 992px) {
html{font-size:26px !important;}
.section-wrap,.header .header-cont,.menu .menu-cont,.sub-menu .sub-menu-cont,.history-action .action-cont{max-width:992px;margin-left:auto;margin-right:auto;}
body{background:#fefceb url(../images/background.jpg) left top no-repeat;background-attachment:fixed;}
.section-wrap{min-height:100%;}
.list-mode1 .mode-cont .list-item a{transition:.3s;}
.list-mode1 .mode-cont .list-item a:hover{background-color:#f9f9f9;text-indent:.23rem;transition:.3s;}
.list-mode1 .mode-cont .list-item{border-right:none;}
}