<!-- header -->
<div class="header" ui-view="header"></div>
<!-- content -->
<div class="content">
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-single">
			<div class="group-name">版本</div>
			<div class="group-cont">V3.0</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">备案号</div>
			<div class="group-cont">沪ICP备12016789号-1</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-multi">
			<div class="group-name">应用技术</div>
			<div class="group-cont">AngularJS, HTML5, CSS3, PHP</div>
		</div>
	</form>
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-multi">
			<div class="group-name">版权声明</div>
			<div class="group-cont">网站版权归佳瑞网所有，文章归原作者所有。</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-multi">
			<div class="group-name">网站说明</div>
			<div class="group-cont">佳瑞网属于个人博客类网站，为记录及分享前端开发相关文章而建。</div>
		</div>
	</form>
</div>