<!-- header -->
<div class="header" ui-view="header"></div>
<!-- content -->
<div class="content">
	<!-- case detail -->
	<div class="detail-mode">
		<h2 class="detail-title">{{detailData.title}}</h2>
		<div class="detail-data">
			<span class="data-item">所属：{{detailData.belong}}</span>
			<span class="data-item">分类：{{detailData.tags}}</span>
			<span class="data-item">日期：{{detailData.date}}</span>
		</div>
		<div class="detail-cont">{{detailData.description}}</div>
	</div>
	<!-- list mode -->
	<div class="list-mode1 gap-bottom">
		<div class="mode-title">
			<h2 class="title-name">访问案例页面</h2>
		</div>
		<div class="mode-cont">
			<ul class="clearfix">
				<li class="list-item" ng-repeat="item in detailData.pages"><a target="_blank" href="case/{{item.url}}">{{item.name}}</a></li>
			</ul>
		</div>
	</div>
	<!-- list mode -->
	<div class="list-mode1">
		<div class="mode-title">
			<h2 class="title-name">相关案例</h2>
		</div>
		<div class="mode-cont">
			<ul class="clearfix">
				<li class="list-item" ng-repeat="item in caseData | orderBy:'-date' | filter:{'tags':detailData.tags} | filter:{'hot':true} | limitTo:4"><a href="#/caseDetail/{{item.id}}">{{item.title}}</a></li>
			</ul>
		</div>
	</div>
</div>