<div class="content" login-directive ng-scrollbar bottom>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">欢迎来到这里，我该怎么称呼你？</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-12">昵称：</label>
						<div class="col-sm-12">
							<input type="email" class="form-control" placeholder="请输入昵称" require />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<div class="checkbox">
								<label>
									<input type="checkbox"> 我要设密码
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-12">密码：</label>
						<div class="col-sm-12">
							<input type="password" class="form-control" placeholder="请输入密码" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-12">确认密码：</label>
						<div class="col-sm-12">
							<input type="password" class="form-control" placeholder="请再次输入密码" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary">确认</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Hi，访问之前，我需求确认一下你的身份！</div>
			<div class="panel-body">
				<span class="help-block">请问你是 <span class="text-danger">Mary</span> 吗？</span>
				<form class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-12">
							<div class="radio">
								<label class="radio-inline">
									<input type="radio" name="blankRadio" value="option1" aria-label="..."> 是
								</label>
								<label class="radio-inline">
									<input type="radio" name="blankRadio" value="option1" aria-label="..."> 否
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-12">密码：</label>
						<div class="col-sm-12">
							<input type="password" class="form-control" placeholder="请输入密码" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary">确认</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>