<div class="content" main-directive ng-scrollbar bottom>
	<div class="container-fluid">
		<div class="hint-text"><span class="text-cont text-single">09:00:00</span></div>
		<dl class="interaction-model model-me model-white">
			<dt class="model-icon">
				<span class="glyphicon glyphicon-th"></span>
			</dt>
			<dd class="model-cont">
				<p class="interaction-text">Hi，<span>Mary</span>，我是<span>Jary</span>，欢迎来到这里。</p>
			</dd>
			<dd class="model-arrow"></dd>
		</dl>
		<dl class="interaction-model model-me model-white">
			<dt class="model-icon">
				<span class="glyphicon glyphicon-th"></span>
			</dt>
			<dd class="model-cont">
				<p class="interaction-text">这里是有一些不错的内容，推荐给你看看：</p>
				<ul class="interaction-list clearfix">
					<li class="list-item"><a href="javascript:;">CSS的相关信息相关信息相关信息相关信息</a></li>
					<li class="list-item"><a href="javascript:;">JS的相关信息</a></li>
					<li class="list-item"><a href="javascript:;">HTML的相关信息</a></li>
					<li class="list-item"><a href="javascript:;">Jquery的相关信息</a></li>
					<li class="list-item"><a href="javascript:;">Angular的相关信息</a></li>
					<li class="list-item"><a href="javascript:;">Require的相关信息</a></li>
				</ul>
			</dd>
			<dd class="model-arrow"></dd>
		</dl>
		<dl class="interaction-model model-me model-white">
			<dt class="model-icon">
				<span class="glyphicon glyphicon-th"></span>
			</dt>
			<dd class="model-cont">
				<p class="interaction-text">你也可以点击左下角的分类来选择查看感兴趣的内容！</p>
				<p class="interaction-text">如果分类里没有你想要的，也可以直接输入关键字，如果有相关内容，我会告诉你哦！</p>
			</dd>
			<dd class="model-arrow"></dd>
		</dl>
		<div class="hint-text"><span class="text-cont text-single">2016-05-06 09:10:00</span></div>
		<dl class="interaction-model model-user">
			<dt class="model-icon">
				<span class="glyphicon glyphicon-user"></span>
			</dt>
			<dd class="model-cont">
				<p class="interaction-text"><span class="label label-primary">CSS</span></p>
			</dd>
			<dd class="model-arrow"></dd>
		</dl>
		<dl class="interaction-model model-me model-white">
			<dt class="model-icon">
				<span class="glyphicon glyphicon-th"></span>
			</dt>
			<dd class="model-cont">
				<div class="interaction-result">
					<div class="result-icon">
						<span class="glyphicon glyphicon-qrcode"></span>
					</div>
					<div class="result-info">
						<strong class="info-title">CSS的相关信息相关信息相关信息相关信息</strong>
						<p class="info-text">你也可以点击左下角的分类来选择查看感兴趣的内容！</p>
					</div>
				</div>
				<div class="interaction-result">
					<div class="result-icon">
						<span class="glyphicon glyphicon-qrcode"></span>
					</div>
					<div class="result-info">
						<strong class="info-title">CSS的相关信息相关信息相关信息相关信息</strong>
						<p class="info-text">你也可以点击左下角的分类来选择查看感兴趣的内容！</p>
					</div>
				</div>
				<div class="interaction-result">
					<div class="result-icon">
						<span class="glyphicon glyphicon-qrcode"></span>
					</div>
					<div class="result-info">
						<strong class="info-title">CSS的相关信息相关信息相关信息相关信息</strong>
						<p class="info-text">你也可以点击左下角的分类来选择查看感兴趣的内容！</p>
					</div>
				</div>
				<div class="text-right"><a href="javascript:;" class="btn btn-default btn-sm">换一组</a></div>
			</dd>
			<dd class="model-arrow"></dd>
		</dl>
		<dl class="interaction-model model-me model-red">
			<dt class="model-icon">
				<span class="glyphicon glyphicon-th"></span>
			</dt>
			<dd class="model-cont">
				<p class="interaction-text">抱歉，没有找到任何相关的内容，请更换内容。</p>
			</dd>
			<dd class="model-arrow"></dd>
		</dl>
	</div>
</div>
<div ui-view="user-action"></div>