<!-- header -->
<div class="header" ui-view="header"></div>
<!-- content -->
<div class="content">
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-single">
			<div class="group-name">发单</div>
			<div class="group-cont">供应商名称</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">发单方式</div>
			<div class="group-cont">Email</div>
		</div>
	</form>
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-single">
			<div class="group-cont group-arrow">升级新版本</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-single">
			<div class="group-cont group-arrow">建议反馈</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-single">
			<div class="group-cont group-arrow">关于代理通</div>
		</div>
	</form>
</div>