<!-- header -->
<div class="header" ui-view="header"></div>
<!-- content -->
<div class="content" ng-if="!validatePass">
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-single">
			<div class="group-name">邀请码</div>
			<div class="group-cont"><input type="text" class="form-input" placeholder="如果您是HR，请输入邀请码" ng-model="$parent.inviteCode" ng-change="visitAction()" /></div>
		</div>
	</form>
</div>
<div class="content" ng-if="validatePass">
	<!-- load -->
	<div class="load-mode2" ng-if="!resumeData">
		<i class="icon-load"></i>
		<span class="text-load">加载中<span class="dot"></span></span>
	</div>
	<!-- form-wrap -->
	<form class="form-mode" ng-if="resumeData">
		<div class="resume-photo"><img ng-src="{{resumeData.person.photo}}"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">姓名</div>
			<div class="group-cont">{{resumeData.person.name}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">昵称</div>
			<div class="group-cont">{{resumeData.person.nickname}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">生日</div>
			<div class="group-cont">{{resumeData.person.birthday}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">职业</div>
			<div class="group-cont">{{resumeData.person.job}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">手机</div>
			<div class="group-cont">{{resumeData.person.phone}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">Email</div>
			<div class="group-cont">{{resumeData.person.email}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">学历</div>
			<div class="group-cont">{{resumeData.person.degrees}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">专业</div>
			<div class="group-cont">{{resumeData.person.major}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">工作年限</div>
			<div class="group-cont">{{resumeData.person.worklife}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">工作状态</div>
			<div class="group-cont">{{resumeData.person.state}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">期望年薪</div>
			<div class="group-cont">{{resumeData.person.salary}}</div>
		</div>
	</form>
	<div ng-repeat="item in resumeData.info" ng-if="resumeData">
		<!-- form-wrap -->
		<form class="form-mode">
			<div class="form-group form-single">
				<div class="group-name">{{item.title}}</div>
				<div class="group-cont"></div>
			</div>
		</form>
		<!-- form-wrap -->
		<form class="form-mode">
			<div class="form-group form-multi">
				<div class="group-cont">{{item.description}}</div>
			</div>
		</form>
	</div>
	<div ng-if="resumeData">
		<!-- form-wrap -->
		<form class="form-mode">
			<div class="form-group form-twin-four form-single">
				<div class="group-name">职业技能</div>
				<div class="group-cont"></div>
			</div>
		</form>
		<!-- list mode -->
		<div class="list-mode1 resume-list" ng-repeat="item in resumeData.skill">
			<div class="mode-cont">
				<!-- list -->
				<ul class="clearfix">
					<li class="list-item" ng-repeat="subItem in item.description"><span class="item"><span class="float-r color-gray gap-right">{{subItem.grade}}</span>{{subItem.text}}</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-if="resumeData">
		<!-- form-wrap -->
		<form class="form-mode">
			<div class="form-group form-twin-four form-single">
				<div class="group-name">工作经历</div>
				<div class="group-cont"></div>
			</div>
		</form>
		<!-- form-wrap -->
		<form class="form-mode" ng-repeat="item in resumeData.experience">
			<div class="form-group form-twin-four form-single">
				<div class="group-name">企业名称</div>
				<div class="group-cont">{{item.title}}</div>
			</div>
			<div class="line-between"></div>
			<div class="form-group form-twin-four form-single">
				<div class="group-name">入离时间</div>
				<div class="group-cont">{{item.time}}</div>
			</div>
			<div class="line-between"></div>
			<div class="form-group form-twin-four form-single">
				<div class="group-name">所属行业</div>
				<div class="group-cont">{{item.industry}}</div>
			</div>
			<div class="line-between"></div>
			<div class="form-group form-twin-four form-single">
				<div class="group-name">企业类型</div>
				<div class="group-cont">{{item.property}}</div>
			</div>
			<div class="line-between"></div>
			<div class="form-group form-twin-four form-single">
				<div class="group-name">企业规模</div>
				<div class="group-cont">{{item.size}}</div>
			</div>
			<div class="line-between"></div>
			<div class="form-group form-twin-four form-single">
				<div class="group-name">企业网站</div>
				<div class="group-cont"><a target="_blank" href="{{item.website}}">{{item.tip}}</a></div>
			</div>
			<div class="line-between"></div>
			<div class="form-group form-twin-four form-multi">
				<div class="group-name">企业介绍</div>
				<div class="group-cont">{{item.description}}</div>
			</div>
			<div class="line-between"></div>
			<div class="form-group form-twin-four form-multi">
				<div class="group-name">个人职责</div>
				<div class="group-cont">{{item.duty}}</div>
			</div>
		</form>
	</div>
	<div ng-repeat="item in resumeData.other" ng-if="resumeData">
		<!-- form-wrap -->
		<form class="form-mode">
			<div class="form-group form-single">
				<div class="group-name">{{item.title}}</div>
				<div class="group-cont"></div>
			</div>
		</form>
		<!-- form-wrap -->
		<form class="form-mode">
			<div class="form-group form-multi">
				<div class="group-cont">{{item.description}}</div>
			</div>
		</form>
	</div>
</div>