<!-- header -->
<div class="header" ui-view="header"></div>
<!-- content -->
<div class="content" ng-if="!validatePass">
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-single">
			<div class="group-name">邀请码</div>
			<div class="group-cont"><input type="text" class="form-input" placeholder="如果您是HR，请输入邀请码" ng-model="$parent.inviteCode" ng-change="visitAction()" /></div>
		</div>
	</form>
</div>
<div class="content" ng-if="validatePass">
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-single">
			<div class="group-name">姓名</div>
			<div class="group-cont">{{resumeData.person.name}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">昵称</div>
			<div class="group-cont">{{resumeData.person.nickname}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">生日</div>
			<div class="group-cont">{{resumeData.person.birthday}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">工作</div>
			<div class="group-cont">{{resumeData.person.job}}</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">手机</div>
			<div class="group-cont">{{resumeData.person.phone}}</div>
		</div>
	</form>
</div>