.main-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: .1rem;
  height: .32rem;
  z-index: 49;
  text-align: right; }
  .main-menu nav {
    display: inline-block;
    width: .3rem;
    height: .3rem;
    margin-right: .1rem;
    border: .01rem solid #eee;
    line-height: .3rem;
    vertical-align: top;
    text-align: center;
    font-size: .2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%; }
    .main-menu nav:active {
      background-color: #eee;
      color: #999; }

.main-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: .1rem;
  width: 1.2rem;
  height: .375rem;
  z-index: 49;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain; }

.main-content {
  position: fixed;
  top: .575rem;
  right: 0;
  bottom: 0;
  left: .2rem;
  padding-bottom: .52rem;
  z-index: 48;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: .1rem; }

.content-wrap {
  height: 100%;
  overflow: auto;
  overflow-x: hidden; }

.load-layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #eee; }
  .load-layer .load-con {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: .72rem;
    height: .72rem;
    background-color: #000;
    border-radius: .06rem;
    opacity: .5;
    background-image: url(../../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%; }

body, html, .container {
  height: 100%; }

body, input, select {
  line-height: 1.7;
  font-family: "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  color: #333; }

body {
  margin: 0; }

a {
  color: #666;
  text-decoration: none; }

a:hover {
  color: #333;
  text-decoration: underline; }

.clearfix {
  *zoom: 1; }

.clearfix:after {
  content: "\20";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

.hide {
  font-size: 0;
  line-height: 0;
  text-indent: -99rem;
  overflow: hidden; }

.container {
  background-image: url(../../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url(../../fonts/icomoon.eot);
  src: url(../../fonts/icomoon.eot) format("embedded-opentype"), url(../../fonts/icomoon.woff) format("woff"), url(../../fonts/icomoon.ttf) format("truetype"), url(../../fonts/icomoon.svg) format("svg"); }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: "\e900"; }

.icon-books:before {
  content: "\e920"; }

.icon-stack:before {
  content: "\e92e"; }

.icon-location:before {
  content: "\e947"; }

.icon-undo2:before {
  content: "\e967"; }

.icon-bubble:before {
  content: "\e96b"; }

.icon-user-tie:before {
  content: "\e976"; }

.icon-quotes-left:before {
  content: "\e977"; }

.icon-quotes-right:before {
  content: "\e978"; }

.icon-spinner9:before {
  content: "\e982"; }

.icon-search:before {
  content: "\e986"; }

.icon-cog:before {
  content: "\e994"; }

.icon-tree:before {
  content: "\e9bc"; }

.icon-eye-blocked:before {
  content: "\e9d1"; }

.icon-cross:before {
  content: "\ea0f"; }

.icon-checkmark:before {
  content: "\ea10"; }

.icon-circle-right:before {
  content: "\ea42"; }

.icon-circle-left:before {
  content: "\ea44"; }

/*# sourceMappingURL=website.css.map */
