//PC
.pc .aside{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	background-color:#f3f3f3;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow:1px 0 5px rgba(0,0,0,.3);
	.logo{
		img{
			display:block;
			width:100%;
		}
	}
	.signature{
		font-style:italic;
	}
	.menu-nav{
		display:block;
		margin-bottom:10px;
		padding:10px 0;
		background-color:#fefefe;
		font-size:24px;
		cursor:pointer;
		&:hover{
			background-color:#f9f9f9;
		}
		i{
			font-style:italic;
		}
	}
	.list-nav{
		display:none;
		li{
			margin-bottom:5px;
			text-align:center;
			background-color:#fff;
			cursor:pointer;
			&:hover{
				background-color:#e3e3e3;
			}
		}
	}
	.copyright{
		bottom:0;
		right:0;
		padding:10px;
		color:#999;
		font-size:12px;
		a{
			color:#999;
		}
	}
}

.pc .content{
	height:100%;
	padding-right:40px;
	padding-top:20px;
	padding-bottom:40px;
	box-sizing:border-box;
	overflow:auto;
	overflow-x:hidden;
	background-color:rgba(255,255,255,.5);
}

.pc .crumbs{
	margin-bottom:10px;
	a{color:#999;}
	dfn{
		margin:0 10px;
		color:#999;
		font-family:SimHei;
	}
}

.pc .article-list{
	& > li{
		padding-bottom:20px;
		margin-bottom:20px;
		border-bottom:1px solid #e3e3e3;
	}
	.title{
		margin-bottom:5px;
		a{
			font-size:20px;
			color:#333;
			&:hover{
				text-decoration:none;
				color:#666;
			}
		}
	}
	.info{
		display:inline-block;
		margin-bottom:5px;
		margin-right:20px;
		color:#999;
	}
	.text{
		font-size:16px;
		color:#666;
	}
}

.pc .article-detail{
	.title{
		margin-bottom:5px;
		font-size:24px;
		color:#333;
	}
	.info{
		display:inline-block;
		margin-bottom:5px;
		margin-right:20px;
		color:#999;
	}
	.cont{
		padding:10px 0;
		p{
			margin-bottom:10px;
			font-size:18px;
			color:#666;
		}
	}
}

.pc .article-nav{
	padding:20px 0;
	a{
		padding:5px 10px;
		background-color:#dedede;
		max-width:49%;
		box-sizing:border-box;
		overflow:hidden;
		&:hover{
			text-decoration:none;
		}
	}
	dfn{
		font-family:simHei;
	}
	.prev{
		float:left;
		border-radius:10px 0 0 10px;
		dfn{
			margin-right:10px;
		}
	}
	.next{
		float:right;
		border-radius:0 10px 10px 0;
		dfn{
			margin-left:10px;
		}
	}
}

.pc .article-about{
	.title{
		margin-bottom:5px;
	}
	.cont{
		li{
			float:left;
			width:49%;
			margin-right:1%;
			padding:5px 0;
			list-style:inside square;
		}
	}
}

.pc .login-layer{
	width:40%;
	max-width:300px;
}