<!-- header -->
<div class="header" ui-view="header"></div>
<!-- content -->
<div class="content">
	<!-- sub menu -->
	<div class="sub-menu">
		<ul class="sub-menu-cont">
			<li ng-repeat="item in initSubMenu.items" ng-class="{true:'menu-item cur', false:'menu-item'}[item.isCurrent]" ng-click="subMenuAction(item)">{{item.itemName}}</li>
		</ul>
	</div>
	<!-- case list -->
	<ul class="list-mode2 case-list" ng-if="caseData">
		<li class="list-item" ng-repeat="item in caseData | orderBy:'-date' | filter:{'tags':initSubMenu.tagsKey}">
			<h2 class="item-title">{{item.title}}</h2>
			<p class="item-info">{{item.description}}</p>
			<div class="clearfix">
				<div class="item-data"><span class="data-date">{{item.date}}</span></div>
				<div class="item-tags" ng-if="initSubMenu.tagsShow"><span ng-class="{'tags-item tags-item1':item.tags=='Mobile', 'tags-item tags-item2':item.tags=='PC'}">{{item.tags}}</span></div>
			</div>
			<a href="#/caseDetail/{{item.id}}" title="{{item.title}}" class="item-link"></a>
		</li>
	</ul>
	<!-- load -->
	<div class="load-mode2" ng-if="!caseData">
		<i class="icon-load"></i>
		<span class="text-load">加载中<span class="dot"></span></span>
	</div>
</div>