<!-- header -->
<div class="header" ui-view="header"></div>
<!-- content -->
<div class="content">
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-single">
			<div class="group-name">平台</div>
			<div class="group-cont">Android</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">版本</div>
			<div class="group-cont">V1.2</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-multi">
			<div class="group-name">应用说明</div>
			<div class="group-cont">采用React Native开发</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-single">
			<div class="group-name">下载地址</div>
			<div class="group-cont"><a href="/static/app/jarysite-android-1.2.apk" target="_blank">jarysite-android-1.2</a></div>
		</div>
	</form>
</div>