<!-- header -->
<div class="header" ui-view="header"></div>
<!-- content -->
<div class="content">
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-multi">
			<div class="group-name">2017.6</div>
			<div class="group-cont">佳瑞网APP V1.0 Android版发布。</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-multi">
			<div class="group-cont">使用技术包括：React Native、JavaScript等</div>
		</div>
	</form>
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-multi">
			<div class="group-name">2016.8</div>
			<div class="group-cont">佳瑞网V3.0上线。</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-multi">
			<div class="group-cont">使用技术包括：HTML5、CSS3、AngularJS、JavaScript、PHP等</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-multi">
			<div class="group-cont">新版采用移动端优先，PC端兼容的模式，以AngularJS为基础，更新了整个网站。</div>
		</div>
	</form>
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-multi">
			<div class="group-name">2015</div>
			<div class="group-cont">为了应用新的技术，再次升级佳瑞网的计划也提上日程。</div>
		</div>
	</form>
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-multi">
			<div class="group-cont">网站内容完善中</div>
		</div>
	</form>
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-multi">
			<div class="group-name">2012.4</div>
			<div class="group-cont">佳瑞网V2.0上线。</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-multi">
			<div class="group-cont">启用新域名：jary8.com。使用技术包括：HTML5、CSS3、JQuery、JavaScript、PHP(EMLOG博客模板)等</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-multi">
			<div class="group-cont">新版抛弃Flash，以PHP+MYSQL为基础，全新设计制作整个网站，使佳瑞网拥有了后台管理系统，成为真正的博客网站。</div>
		</div>
	</form>
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-multi">
			<div class="group-name">2011</div>
			<div class="group-cont">由于技术更新换代，新版佳瑞网在业余时间，持续不断的制作中。</div>
		</div>
	</form>
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-multi">
			<div class="group-cont">网站内容完善中</div>
		</div>
	</form>
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-multi">
			<div class="group-name">2008.4</div>
			<div class="group-cont">佳瑞网V1.0上线。</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-multi">
			<div class="group-cont">域名为：jary9.cn。使用技术包括HTML、CSS、Flash等。</div>
		</div>
		<div class="line-between"></div>
		<div class="form-group form-twin-four form-multi">
			<div class="group-cont">网站功能简单，主要用FLASH技术实现页面切换及在线留言功能。</div>
		</div>
	</form>
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-multi">
			<div class="group-name">2008</div>
			<div class="group-cont">创建佳瑞网的构想酝酿中，并迅速执行实现。</div>
		</div>
	</form>
	<!-- form-wrap -->
	<form class="form-mode">
		<div class="form-group form-twin-four form-multi">
			<div class="group-name">2007</div>
			<div class="group-cont">前端初入行，梦想有一个自己的网站！</div>
		</div>
	</form>
</div>