@media screen and (min-width: 1080px) {

.pc-aside{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:1rem;
	max-width:320px;
	box-shadow:1px 0 5px rgba(0,0,0,.3);
	.logo{
		padding:.05rem .1rem;
	}
	.signature{
		display:block;
		padding:.02rem 0;
		background-color:#fefefe;
		text-align:center;
	}
	.menu{
		padding-top:.05rem;
		span{
			display:block;
			position:relative;
			padding:.05rem;
			margin-bottom:.02rem;
			font-size:24px;
			&:after{
				@include positionMiddle;//垂直居中
				content: ' ';
				right:10px;
				width:.01rem;
				height:60%;
				background-color:#ccc;
				border-radius:.01rem;
			}
		}
		.current{
			&:after{
				background-color:#f00;
			}
		}
		i{
			font-size:30px;
		}
	}
	.list-nav{
		font-size:0;
		li{
			display:inline-block;
			width:48%;
			margin-left:1%;
			margin-right:1%;
			margin-bottom:.02rem;
			font-size:20px;
			border-radius:.02rem;
		}
	}
	.copyright{
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		text-align:center;
	}
}
.pc-content{
}

}