/*=s reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,em,button{margin:0;padding:0;}
body{background-color:#f5f5fd;font:14px/1.5 'Microsoft YaHei',Tahoma,Simsun,sans-serif;color:#333;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
i,em,dfn{font-style:normal;}
input,select,textarea{background-color:#fff;outline:none;font:12px/1.5 Simsun,sans-serif;color:#333;}
a{color:#3c57ca;text-decoration:none;outline:none;}
a:hover{text-decoration:none;}
.clearfix{*zoom:1;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.sc-wrap{max-width:1180px;min-width:980px;margin:0 auto;_width:1180px;}
/*=e reset */

/*=s icon */
.icon-success-big,.icon-info-big,.icon-alert-big,.icon-error-big,
.icon-success,.icon-info,.icon-alert,.icon-error,
.icon-success-primary,.icon-info-primary,.icon-alert-primary,.icon-error-primary,
.icon-success-normal,.icon-info-normal,.icon-alert-normal,.icon-error-normal,
.icon-success-small,.icon-info-small,.icon-alert-small,.icon-error-small,
.icon-success-mini,.icon-info-mini,.icon-alert-mini,.icon-error-mini{display:inline-block;background:url(../images/msg-bg.png) no-repeat;vertical-align:middle;*display:inline;*zoom:1;}
.icon-success-big,.icon-info-big,.icon-alert-big,.icon-error-big{width:64px;height:64px;}
.icon-success,.icon-info,.icon-alert,.icon-error{width:48px;height:48px;}
.icon-success-primary,.icon-info-primary,.icon-alert-primary,.icon-error-primary{width:32px;height:32px;}
.icon-success-normal,.icon-info-normal,.icon-alert-normal,.icon-error-normal{width:24px;height:24px;}
.icon-success-small,.icon-info-small,.icon-alert-small,.icon-error-small{width:16px;height:16px;}
.icon-success-mini,.icon-info-mini,.icon-alert-mini,.icon-error-mini{width:12px;height:12px;}

.icon-success-big{background-position:0 0;}
.icon-success{background-position:0 -68px;}
.icon-success-primary{background-position:0 -120px;}
.icon-success-normal{background-position:-208px -68px;}
.icon-success-small{background-position:-176px -124px;}
.icon-success-mini{background-position:-144px -120px;}

.icon-info-big{background-position:-68px 0;}
.icon-info{background-position:-52px -68px;}
.icon-info-primary{background-position:-36px -120px;}
.icon-info-normal{background-position:-236px -68px;}
.icon-info-small{background-position:-196px -124px;}
.icon-info-mini{background-position:-160px -120px;}

.icon-alert-big{background-position:-136px 0;}
.icon-alert{background-position:-104px -68px;}
.icon-alert-primary{background-position:-72px -120px;}
.icon-alert-normal{background-position:-208px -96px;}
.icon-alert-small{background-position:-216px -124px;}
.icon-alert-mini{background-position:-144px -136px;}

.icon-error-big{background-position:-204px 0;}
.icon-error{background-position:-156px -68px;}
.icon-error-primary{background-position:-108px -120px;}
.icon-error-normal{background-position:-236px -96px;}
.icon-error-small{background-position:-236px -124px;}
.icon-error-mini{background-position:-160px -136px;}

.icon-loading{display:inline-block;width:32px;height:32px;vertical-align:middle;*display:inline;*zoom:1;}
.icon-loading img{display:block;width:100%;height:100%;}
.icon-loading-big{width:48px;height:48px;}
.icon-loading-small{width:24px;height:24px;}
/*=e icon */

/*=s text */
.color-w{color:#fff !important;/* color-white */}
.color-o{color:#ff7800 !important;/* color-orange */}
.color-r{color:#f00 !important;/* color-red */}
.color-g{color:#999 !important;/* color-gray */}
.color-b{color:#3c57ca !important;/* color-blue */}

.size-12{font-size:12px !important;}
.size-16{font-size:16px !important;}
.size-18{font-size:18px !important;}
.size-20{font-size:20px !important;}

.weight-b{font-weight:bold !important;}
.weight-n{font-weight:normal !important;}

.align-l{text-align:left !important;}
.align-r{text-align:right !important;}
.align-c{text-align:center !important;}
/*=e text */

/*=s margin */
.margin-t{margin-top:10px;}
.margin-r{margin-right:10px;}
.margin-b{margin-bottom:10px;}
.margin-l{margin-left:10px;}
/*=e margin */

/*=s input */
.input-item,.select-item,.textarea-item{padding:5px;border:1px solid #ccc;vertical-align:middle;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
.input-radio{margin-right:5px;vertical-align:-2px;*vertical-align:middle;}
.input-normal{width:140px;}
.input-primary{width:240px;}
/*=e input */

/*=s btn */
.btn{display:inline-block;border-radius:3px;vertical-align:middle;font-family:Simsun;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;text-align:center;}
.btn:hover{background-color:#06c;color:#fff;}
.btn-fill,.btn-border,.btn-disable{border:1px solid;font-weight:bold;}
.btn-fill{background-color:#27c;color:#fff;border-color:#27c;}
.btn-fill:hover,.btn-border:hover{background-color:#29f;color:#fff;border-color:#29f;}
.btn-border{background-color:#fff;color:#333;border-color:#ccc;}
.btn-disable,.btn-disable:hover{color:#999;background-color:#ddd;border-color:#ddd;cursor:default;}
.btn-primary{padding:0 30px;font-size:16px;line-height:36px;}
.btn-normal{padding:0 25px;font-size:16px;line-height:30px;}
.btn-small{padding:0 15px;font-size:14px;line-height:28px;}
.btn-mini{padding:0 10px;font-size:12px;line-height:24px;}
.btn-w140{width:140px;}
/*=e btn */

/* table */
.table-model{text-align:left;}
.table-model th,.table-model td{border:1px solid #dedede;padding:5px 10px;}
.table-model th{background-color:#f5f5fd;}

/*=s header */
.sc-hd{min-width:980px;height:60px;background-color:#3c57ca;line-height:60px;}
.sc-hd a{color:#aeb7e2;}
.sc-hd a:hover{color:#fff;}
.sc-hd-logo,.sc-hd-menu{float:left;height:60px;}
.sc-hd-logo{width:124px;margin-right:80px;background:url(../images/icon_seaclouds.png) no-repeat;}
.sc-hd-logo a{display:block;width:100%;height:100%;}
.sc-hd-menu li{float:left;height:100%;margin-right:60px;}
.sc-hd-menu a{font-size:18px;}
.sc-hd-menu .cur a{color:#fff;}
.sc-hd-user{float:right;font-size:12px;_padding-top:20px;}
.sc-hd-user a{margin-left:10px;}
.sc-hd-user a:hover{text-decoration:underline;}
.sc-hd-user .icon{display:inline-block;width:14px;height:14px;margin-right:5px;background:url(../images/icon_seaclouds.png) -134px 0 no-repeat;vertical-align:-3px;*vertical-align:middle;}
/*=e header */

/*=s copyright */
.sc-cr{min-width:980px;color:#999;font-size:12px;text-align:center;background-color:#fff;margin-top:30px;padding:30px 0;}
.sc-cr a{color:#999;}
.sc-cr a:hover{text-decoration:underline;}
.sc-cr .gns{margin-top:8px;}
.sc-cr .icon-gns,.sc-cr .honour_wrap a,.sc-cr .honour_wrap span{background-image:url(../images/phone_list.png);background-color:#fff;background-repeat:no-repeat;}
.sc-cr .honour_wrap a,.sc-cr .honour_wrap span{float:left;margin:0 5px;width:88px;height:32px;border:1px solid #d1d1d1;border-radius:2px;font:12px/32px Simsun;color:#666;overflow:hidden;text-indent:-99em;}
.sc-cr .icon-gns{display:inline-block;width:20px;height:20px;margin-right:3px;background-position:0 -235px;vertical-align:middle;}
.sc-cr .honour_wrap{display:inline-block;padding-top:10px;text-align:left;*display:inline;*zoom:1;}
.sc-cr .honour_wrap a{float:left;margin:0 5px;width:88px;height:32px;border:1px solid #d1d1d1;
    border-radius:2px;font:12px/32px Simsun;color:#666;overflow:hidden;text-indent:-99em;white-space:normal;}
.sc-cr .honour_wrap .honour1{background-position:-88px -50px;text-indent:36px;}
.sc-cr .honour_wrap .honour2{background-position:-88px -85px;text-indent:36px;}
.sc-cr .honour_wrap .honour3{background-position:0 -50px;}
.sc-cr .honour_wrap .honour4{background-position:-88px -118px;text-indent:0;padding:2px 0 2px 37px;width:51px;height:28px;line-height:1.2;}
.sc-cr .honour_wrap .honour5{background-position:0 -84px;}
.sc-cr .honour_wrap .honour6{background-position:0 -118px;}
.sc-cr .honour_wrap .honour7{background-position:0 -155px;width:128px;}
.sc-cr .honour_wrap .honour8{background-position:0 -193px;width:90px;}
/*=e copyright */

/*=s crumbs */
.sc-crumbs{margin-top:20px;font-size:12px;color:#999;font-family:Simsun;}
.sc-crumbs dfn{margin:0 8px;}
/*=e crumbs */

/*=s layout */
.sc-layout{background-color:#fff;border-bottom:2px solid #e7e8ed;border-right:1px solid #e7e8ed;}
.sc-layout-aside{float:left;width:200px;}
.sc-layout-aside a{position:relative;display:block;padding:20px 0;border-bottom:1px solid #e5e7f2;text-align:center;font-size:20px;color:#999;width:197px;border-left:4px solid #fff;}
.sc-layout-aside a:hover,.sc-layout-aside .cur a{background-color:#fff;color:#3c57ca;border-left-color:#3c57ca;_left:4px;}
.sc-layout-aside .tags{position:absolute;right:10px;top:50%;margin-top:-8px;padding:0 5px;border-radius:3px;line-height:16px;color:#fff;font-size:12px;background-color:#ff3e3e;}
.sc-layout-aside .tags-dashed{border-bottom-style:dashed;}
.sc-layout-aside .tags-disable:hover{background-color:transparent;color:#999;border-left-color:#fff;cursor:default;}
.sc-layout-main{overflow:hidden;border-left:1px solid #e5e7f2;_zoom:1;}
/*=e layout */