/* common */
.container{padding:0 .75rem;}

.tags-item{display:inline-block;border:1px solid;padding:0 .25rem;border-radius:.125rem;font-size:.55rem;line-height:1rem;vertical-align:middle;}
.tags-stroke{}
.tags-item1{color:#f7615d;border-color:#f8acaa;}
.tags-item2{color:#1fcd81;border-color:#8bdab6;}
.tags-item3{color:#0b9ee7;border-color:#87cbec;}
.tags-item4{color:#fe8d13;border-color:#f1b97c;}
.tags-item5{color:#00ccd4;border-color:#95e8eb;}

.tags-fill{color:#fff;}
.tags-item6{border-color:#00ccd4;background-color:#00ccd4;}
.tags-item7{border-color:#1fcd81;background-color:#1fcd81;}
.tags-item8{border-color:#11abf8;background-color:#11abf8;}
.tags-item9{border-color:#abb4b4;background-color:#abb4b4;}

/* header */
.header{height:2.2rem;}
.header .header-cont{position:fixed;top:0;right:0;left:0;z-index:99;height:2.2rem;border-bottom:1px solid #d4d4d4;text-align:center;background-color:#f8f8f8;}
.header .header-title{margin:0 4.4rem;display:-webkit-flex;display:-webkit-box;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;align-items:center;}
.header .header-title .title-name,.header .header-title .title-select,.header .order-icon{position:relative;left:0;right:0;line-height:2.2rem;}
.header .header-title .title-name{display:block;max-width:100%;font-size:.85rem;font-weight:normal;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.header .header-title .title-select:after{content:"";display:inline-block;position:relative;top:-.15rem;border-left:2px solid #2a3d4e;border-bottom:2px solid #2a3d4e;width:.3rem;height:.3rem;vertical-align:middle;margin-left:.25rem;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.header .header-icon{position:absolute;top:0;width:2.2rem;height:2.2rem;background:url(../images/icon_header.png) no-repeat;background-size:cover;}
.header .icon-back{left:0;}
.header .icon-home{right:0;background-position:0 -2.2rem;}
.header .icon-search{right:0;background-position:0 -4.4rem;}

.header .order-icon:after{content:"";display:inline-block;position:relative;top:-.1rem;width:1.4rem;height:1.2rem;margin-right:.25rem;background:url(../images/icon_menu.png) no-repeat;background-size:cover;vertical-align:middle;}
.header .icon-ctrip:after{background-position:0 0;}
.header .icon-qunar:after{background-position:0 -2.8rem;}
.header .icon-elong:after{background-position:0 -5.6rem;}

.header .header-btn{position:absolute;top:0;right:0;padding:0 .75rem;height:2.2rem;line-height:2.2rem;}

.header .header-search{position:relative;margin-top:.35rem;margin-bottom:.35rem;height:1.5rem;border-radius:1.5rem;background-color:#ebeaea;}
.header .header-search .in-search{width:100%;height:100%;padding:0 1.75rem;font-size:.7rem;}
.header .header-search .icon-search-input,.header .header-search .btn-clear{position:absolute;top:50%;width:1.5rem;height:1.5rem;background:url(../images/icon_header.png) no-repeat;background-size:2.2rem auto;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.header .header-search .icon-search-input{left:.25rem;background-position:0 -6.6rem;}
.header .header-search .btn-clear{right:.25rem;background-position:0 -8.1rem;}
.header .header-search .btn-search{position:absolute;top:50%;right:-2.25rem;padding:0 .25rem;border:1px solid #304353;border-radius:.25rem;font-size:.65rem;-webkit-transform:translateY(-50%);transform:translateY(-50%);}

.header .header-search-wide{margin-left:.75rem;margin-right:3.25rem;}
.header .header-search-narrow{margin-left:2.75rem;margin-right:2.75rem;}

/* menu */
.menu{height:2.45rem;}
.menu .menu-cont{display:-webkit-flex;display:-webkit-box;display:flex;position:fixed;bottom:0;right:0;left:0;z-index:99;height:2.45rem;border-top:1px solid #d4d4d4;text-align:center;background-color:#fff;}
.menu .menu-item{position:relative;-webkit-flex:1;-webkit-box-flex:1;flex:1;padding-top:.2rem;}
.menu .menu-icon{display:block;margin:0 auto;width:1.4rem;height:1.2rem;background:url(../images/icon_menu.png) no-repeat;background-size:cover;}
.menu .cur .icon-ctrip{background-position:0 -1.4rem;}
.menu .icon-qunar{background-position:0 -2.8rem;}
.menu .cur .icon-qunar{background-position:0 -4.2rem;}
.menu .icon-elong{background-position:0 -5.6rem;}
.menu .cur .icon-elong{background-position:0 -7rem;}
.menu .icon-mine{background-position:0 -8.4rem;}
.menu .cur .icon-mine{background-position:0 -9.8rem;}
.menu .menu-text{font-size:.5rem;}
.menu .cur .menu-text{color:#0b9ee7;}
.menu .corner{position:absolute;top:.125rem;left:50%;min-width:.9rem;height:.9rem;line-height:.9rem;padding:0 .25rem;margin-left:.25rem;border-radius:.9rem;font-size:.5rem;background-color:#f74c31;color:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;}

/* welcome */
.welcome-wrap{min-height:100%;padding-top:6.75rem;background:url(../images/bg_1.jpg) no-repeat;background-size:cover;-webkit-box-sizing:border-box;box-sizing:border-box;}
.welcome-wrap .welcome-logo{height:8rem;margin-bottom:1.75rem;}
.welcome-wrap .welcome-slogan{height:1.5rem;}
.welcome-wrap .welcome-logo img,.welcome-wrap .welcome-slogan img{display:block;max-height:100%;margin:0 auto;}

/* login */
.login-wrap{min-height:100%;padding-top:2rem;background:url(../images/bg_2.jpg) no-repeat;background-size:cover;-webkit-box-sizing:border-box;box-sizing:border-box;}
.login-wrap .login-logo{height:2.25rem;margin-bottom:.5rem;}
.login-wrap .login-slogan{height:1.1rem;margin-bottom:1rem;}
.login-wrap .login-logo img,.login-wrap .login-slogan img{display:block;max-height:100%;margin:0 auto;}

.login-wrap .form-wrap{padding:0 1.5rem;margin-bottom:0;background-color:transparent;border:none;}
.login-wrap .group-cont{height:2.1rem;line-height:2.1rem;}

/* order */
.order-nav{height:2.4rem;margin-bottom:.5rem;}
.order-nav .order-nav-cont{display:-webkit-flex;display:-webkit-box;display:flex;position:fixed;top:2.2rem;left:0;right:0;z-index:98;height:2.4rem;background-color:#fff;border-bottom:1px solid #dfdfdf;}
.order-nav .nav-item{-webkit-flex:1;-webkit-box-flex:1;flex:1;text-align:center;line-height:2.4rem;}
.order-nav .nav-item .count{color:#969ea2;}
.order-nav .cur{border-bottom:2px solid #0b9ee7;color:#0b9ee7;}
.order-nav .cur .count{color:#0b9ee7;}

.order-list{padding-bottom:.5rem;}
.order-list .list-item{position:relative;padding:.5rem .75rem .5rem 1.5rem;margin-bottom:.5rem;background-color:#fff;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;font-size:.65rem;}
.order-list .list-item:last-child{margin-bottom:0;}
.order-list .hotel-name,.order-list .order-name,.order-list .user-name{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.order-list .hotel-name{font-size:.7rem;color:#969ea2;}
.order-list .order-name{font-size:.8rem;font-weight:normal;}
.order-list .order-info{float:left;}
.order-list .user-name{float:right;max-width:50%;}
.order-list .order-data{float:left;}
.order-list .order-number{color:#969ea2;}
.order-list .order-state{margin-left:.5rem;color:#0b9ee7;line-height:1.4rem;}
.order-list .order-tags{float:right;line-height:1.4rem;font-size:0;}
.order-list .handler-state{position:absolute;top:.75rem;right:.75rem;color:#0b9ee7;font-size:.8rem;}
.order-list .handler-gap{padding-right:3.5rem;}

.order-list .tags-item{margin-left:.25rem;}
.order-list .order-label{position:absolute;top:-.2rem;left:.125rem;width:1rem;padding:.25rem 0 .375rem 0;font-size:.6rem;line-height:1;color:#fff;border-radius:0 0 1rem 1rem;text-align:center;}
.order-list .order-label:after{content:"";position:absolute;top:1px;left:-2px;width:0;height:0;border:2px solid;border-color:transparent;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.order-list .label-item1{background-color:#00ccd4;}
.order-list .label-item1:after{border-left-color:#00999f;}
.order-list .label-item2{background-color:#1fcd81;}
.order-list .label-item2:after{border-left-color:#077954;}
.order-list .label-item3{background-color:#11abf8;}
.order-list .label-item3:after{border-left-color:#0d6591;}
.order-list .label-item4{background-color:#abb4b4;}
.order-list .label-item4:after{border-left-color:#6c7575;}

.order-list .list-nothing{text-align:center;padding-top:3.75rem;}
.order-list .list-nothing .icon{display:block;width:3.25rem;height:3.25rem;margin:0 auto;background:url(../images/icon_order.png) no-repeat;background-size:7.5rem auto;}
.order-list .list-nothing .text{margin-top:.75rem;}

.order-detail .order-data{padding:0 .75rem;margin:.5rem 0;}
.order-detail .order-data .order-data-cont{padding-left:.25rem;overflow:hidden;}
.order-detail .order-data .order-number{margin-right:.25rem;font-size:.7rem;line-height:1.1rem;}
.order-detail .order-data .order-date{float:right;font-size:.6rem;color:#82898d;line-height:1.1rem;}

.order-detail .order-hotel-name{padding-right:2rem;font-size:.8rem;color:#82898d;}
.order-detail .order-hotel-name .icon-phone{position:absolute;top:.1rem;right:0;width:1.5rem;height:1.5rem;background:url(../images/icon_order.png) 0 -7.5rem no-repeat;background-size:7.5rem auto;}
.order-detail .order-hotel-data{margin-top:-.25rem;margin-bottom:-.25rem;}
.order-detail .order-hotel-data li{padding:.15rem 0;}
.order-detail .order-hotel-data .icon-gift{display:inline-block;width:1rem;height:1rem;vertical-align:-.18rem;margin-right:.25rem;background:url(../images/icon_order.png) 0 -3.25rem no-repeat;background-size:7.5rem auto;}

.order-handler{height:2.5rem;}
.order-handler .order-handler-cont{position:fixed;left:0;right:0;bottom:0;height:2.5rem;border-top:1px solid #dfdfdf;background-color:#fff;}
.order-handler .order-handler-cont .btn-inline{margin-top:.45rem;}

.feedback-title .title-cont{padding:0 .75rem;margin-top:.5rem;font-size:.8rem;font-weight:normal;color:#82898d;}

.order-feedback-submit{padding:1rem .75rem 0 .75rem;}

/* hotel */
/*.hotel-search{height:3rem;}*/
.hotel-search .hotel-search-cont{/*position:fixed;top:2.2rem;left:0;right:0;z-index:98;*/height:2rem;padding:.5rem .75rem;background-color:#d7d7d7;border-bottom:1px solid #dfdfdf;}
.hotel-search .icon-search{display:inline-block;width:1.5rem;height:1.5rem;background:url(../images/icon_header.png) 0 -6.6rem no-repeat;background-size:2.2rem auto;vertical-align:-.5rem;}
.hotel-search .btn-normal{height:2rem;line-height:2rem;color:#c1c7cb;font-size:.75rem;}
/*.hotel-title{height:2.1rem;}*/
.hotel-title .title-cont{/*position:fixed;top:5.2rem;left:0;right:0;z-index:98;*/padding:.5rem .75rem 0 .75rem;font-size:.8rem;font-weight:normal;color:#82898d;background-color:#efeff4;border-bottom:1px solid #dfdfdf;}
.hotel-list{padding:0 .75rem;background-color:#fff;}
.hotel-list .list-item{border-bottom:1px solid #dfdfdf;padding:.75rem 0;}
.hotel-list .list-item:last-child{border-bottom:none;}
.hotel-list .select-item{position:relative;padding-right:2.25rem;color:#0b9ee7;}
.hotel-list .select-item:after{content:"";position:absolute;top:50%;right:.5rem;width:1rem;height:.5rem;border-left:1px solid #0b9ee7;border-bottom:1px solid #0b9ee7;-webkit-transform:translateY(-80%) rotate(-45deg);transform:translateY(-80%) rotate(-45deg);}

/* search  */
/*.search-title{height:2.1rem;}*/
.search-title .title-cont{/*position:fixed;top:2.2rem;left:0;right:0;z-index:98;*/padding:.5rem .75rem 0 .75rem;font-size:.8rem;font-weight:normal;color:#82898d;background-color:#efeff4;border-bottom:1px solid #dfdfdf;}
.history-list{padding:0 .75rem;background-color:#fff;}
.history-list .list-item{border-bottom:1px solid #dfdfdf;padding:.75rem 0;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.history-list .list-item:last-child{border-bottom:none;}
.history-action{height:3.45rem;}
.history-action .action-cont{position:fixed;left:0;right:0;bottom:0;height:3.45rem;padding:.75rem 2.4rem;background-color:#efeff4;-webkit-box-sizing:border-box;box-sizing:border-box;}
.history-action .btn-normal{height:100%;font-size:.7rem;}

.search-nothing{text-align:center;padding-top:3.75rem;}
.search-nothing .icon-search,.search-nothing .icon-order,.search-nothing .icon-hotel{background:url(../images/icon_order.png) no-repeat;background-size:7.5rem auto;}
.search-nothing .icon-search{position:relative;width:4.25rem;height:4.25rem;margin:0 auto;background-position:-3.25rem 0;}
.search-nothing .icon-order,.search-nothing .icon-hotel{position:absolute;top:.6rem;left:.6rem;width:2.45rem;height:2.45rem;}
.search-nothing .icon-order{background-position:0 -4.25rem;}
.search-nothing .icon-hotel{background-position:-3.25rem -4.25rem;}
.search-nothing .text{margin-top:.75rem;}

/*.search-wrap .order-hack{margin-bottom:.15rem;}*/
.search-wrap .order-hack .title-cont{border-bottom:none;}

/* mine */
.mine-wrap .icon-mine-list{display:inline-block;width:1.2rem;height:1.2rem;margin-right:.5rem;vertical-align:middle;background:url(../images/icon_mine.png) no-repeat;background-size:cover;}
.mine-wrap .icon-feedback{background-position:0 -1.5rem;}
.mine-wrap .icon-about{background-position:0 -3rem;}
.mine-wrap .icon-new{display:inline-block;margin-left:.25rem;padding:.15rem .35rem;vertical-align:middle;background-color:#f7615d;color:#fff;font-size:.5rem;border-radius:0 .3rem 0 .3rem;line-height:normal;}
.mine-wrap .version-number{float:right;color:#82898d;margin-right:-1.25rem;}

.mine-feedback-submit{padding:1rem .75rem 0 .75rem;}

.mine-about{text-align:center;}
.mine-about .about-hint{margin:2rem 0 2.5rem 0;font-size:.85rem;}
.mine-about .qr-code{width:7.5rem;height:7.5rem;margin:1rem auto .5rem auto;background-color:#fff;border-radius:.3rem;border:1px solid #dfdfdf;overflow:hidden;}
.mine-about .qr-code img{display:block;width:100%;}