 /* common */
body{font:16px/36px Arial,"Lucida Grande",Verdana,"Microsoft YaHei","SimHei",sans-serif;}
/*button{line-height:normal !important;}*/
.in-label{display:inline-block;margin-right:10px;vertical-align:top;}
.in-label .label-name{font-size:20px;}
.in-text,.btn-init,.in-select{height:48px;padding:0 15px;border:1px solid #aaa;border-radius:5px;outline:0;font:16px Arial,"Lucida Grande",Verdana,"Microsoft YaHei","SimHei",sans-serif;-webkit-box-sizing:border-box;box-sizing:border-box;}
.wrap{max-width:1150px;padding:0 15px;margin:0 auto;}

/* header */
.header{padding:20px 0;background-color:#0accb1;color:#fff;font-size:14px;}
.header .in-text{width:360px;}
.header .btn-init{width:120px;}

/* content */
.content{background-color:#fafafa}
.html-list .list-item{position:relative;padding:15px 0;border-bottom:1px solid #eee;}
.html-list .list-item .item-link{position:absolute;top:0;right:0;bottom:0;left:0;z-index:5;}
.html-list .list-item .item-title{display:block;font-weight:normal;font-size:20px;color:#666;}
.html-list .list-item .item-name,.html-list .list-item .item-date{font-size:16px;color:#999;}
.html-list .list-item .item-name{float:left;}
.html-list .list-item .item-date{float:right;}
.html-list .list-item:last-child{border-bottom:0;}