@media (min-width: 992px) {
.website-wrap{padding:50px 0;background:url(http://att.x2.hiapk.com/forum/201302/08/134823gryrrr9llplllg90.jpg) center center no-repeat;background-size:cover;}
.decorate-wrap{position:relative;width:454px;padding:80px 20px;margin:0 auto;border-radius:40px;background-color:#fff;}
.decorate-wrap .decorate-top{position:absolute;top:45px;left:50%;margin-left:-5px;width:10px;height:10px;background-color:#999;border-radius:100%;}
.decorate-wrap .decorate-bottom{position:absolute;bottom:20px;left:50%;margin-left:-20px;width:38px;height:38px;border:2px solid #999;border-radius:100%;}
.decorate-wrap .decorate-bottom .icon-menu{position:absolute;top:11px;left:11px;width:12px;height:12px;border:1px solid #bbb;}

.decorate-content{position:relative;border:1px solid #999;background-color:#eee;}

.header,.user-action{position:absolute;}
.content{overflow:auto;overflow-x:hidden;}
}

@media (min-width: 1200px) {

}

@media screen and (max-width: 991px) {

}

@media all and (orientation:landscape) { /*横屏*/
} 

@media all and (orientation:portrait){ /*竖屏*/
} 