@charset "utf-8";
/* jary */
/* September 24, 2015 */

/* main */
body,h1,h2,h3,p,ul,li{margin:0;padding:0;outline:none;}
body{font-size:65%;line-height:2;font-family:Microsoft YaHei,Arial,sans-serif;color:#000;}
ul,li{list-style:none;}
img{border:none;}
em,i{font-style:normal;}
a,a:hover{text-decoration:none;color:#fff;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:focus{outline:none;}
::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder{color:#ccc;}
.clear{clear:both;}
.clearfix{zoom:1;}
.clearfix:after{content:'\20';display:block;clear:both;}
.hide{display:block;font-size:0;line-height:0;text-indent:-999px;overflow:hidden;}

.wrapCont,.listData li .photo span,.listData li .info .sex .icon,.listData li .info .label .icon,.loading{background-repeat:no-repeat;
    -webkit-background-size:contain;
    -ms-background-size:contain;
    -moz-background-size:contain;
    -o-background-size:contain;
    background-size:contain;}

.wrapCont .num{
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);}

.listData li .value{
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);}

.loading{position:fixed;left:50%;top:50%;background-image:url("../images/loading.gif");z-index:50;}

/* container */
.wrapCont{position:relative;background-color:#ffcc03;background-image:url("../images/abilityvalue_bg.png");background-position:center center;text-align:center;}
.wrapCont .num{position:absolute;left:50%;border-radius:100%;color:#fff;background-image:url("../images/abilityvalue_wave.png");background-position-y:1000px;background-repeat:no-repeat;background-size:cover;
    -webkit-animation:waveFlash infinite 2s linear;
    -ms-animation:waveFlash infinite 2s linear;
    -moz-animation:waveFlash infinite 2s linear;
    -ms-animation:waveFlash infinite 2s linear;
    animation:waveFlash infinite 2s linear;}
.wrapCont .text{color:#930;}
.wrapCont .warn{color:#f00;}

@-webkit-keyframes waveFlash{
    0% {background-position-x:0;}
    100% {background-position-x:100%;}
}

@-ms-keyframes waveFlash{
    0% {background-position-x:0;}
    100% {background-position-x:100%;}
}

@-moz-keyframes waveFlash{
    0% {background-position-x:0;}
    100% {background-position-x:100%;}
}

@-o-keyframes waveFlash{
    0% {background-position-x:0;}
    100% {background-position-x:100%;}
}

@keyframes waveFlash{
    0% {background-position-x:0;}
    100% {background-position-x:100%;}
}

.listData .content-slide{overflow:auto;}
.listData li{position:relative;border-bottom:1px solid #ccc;}
.listData li .ranking{float:left;display:table;text-align:center;}
.listData li .ranking span{display:table-cell;vertical-align:middle;color:#999;}
.listData .first .ranking span{color:#ed514c;}
.listData .second .ranking span{color:#ffa845;}
.listData .third .ranking span{color:#fad731;}
.listData li .photo{float:left;}
.listData li .photo span{display:block;width:100%;height:100%;border-radius:50%;}
.listData li .info{overflow:hidden;color:#fff;font-size:0;}
.listData li .info .name{display:block;color:#666;overflow:hidden;}
.listData li .info .sex{display:inline-block;vertical-align:top;}
.listData li .info .sex.male{background-color:#54bdff;}
.listData li .info .sex.female{background-color:#ff97d2;}
.listData li .info .sex i{display:inline-block;vertical-align:top;}
.listData li .info .sex .icon{font-size:0;}
.listData li .info .sex.male .icon{background-image:url("../images/userSex_male.png");}
.listData li .info .sex.female .icon{background-image:url("../images/userSex_female.png");}

.listData li .info .label{display:inline-block;vertical-align:top;}
.listData li .info .label.a{background-color:#f53f76;}
.listData li .info .label.b{background-color:#f53f76;}
.listData li .info .label.c{background-color:#f53f76;}
.listData li .info .label.d{background-color:#f53f76;}
.listData li .info .label.e{background-color:#f53f76;}
.listData li .info .label.f{background-color:#ffab0c;}
.listData li .info .label.g{background-color:#3fcb34;}
.listData li .info .label.h{background-color:#9978ff;}
.listData li .info .label.i{background-color:#ff783d;}
.listData li .info .label i{display:inline-block;vertical-align:top;}
.listData li .info .label .icon{font-size:0;}
.listData li .info .label.a .icon{background-image:url("../images/mylevel_icon1_xhdpi.png");}
.listData li .info .label.b .icon{background-image:url("../images/mylevel_icon2_xhdpi.png");}
.listData li .info .label.c .icon{background-image:url("../images/mylevel_icon3_xhdpi.png");}
.listData li .info .label.d .icon{background-image:url("../images/mylevel_icon4_xhdpi.png");}
.listData li .info .label.e .icon{background-image:url("../images/mylevel_icon5_xhdpi.png");}
.listData li .info .label.f .icon{background-image:url("../images/mylevel_icon6_xhdpi.png");}
.listData li .info .label.g .icon{background-image:url("../images/mylevel_icon7_xhdpi.png");}
.listData li .info .label.h .icon{background-image:url("../images/mylevel_icon8_xhdpi.png");}
.listData li .info .label.i .icon{background-image:url("../images/mylevel_icon9_xhdpi.png");}

.listData li .value{position:absolute;top:50%;color:#666;}

@media screen and (max-width: 639px) {
.wrapCont{height:132px;}
.wrapCont .num{top:16px;width:50px;height:50px;line-height:50px;font-size:15px;}
.wrapCont .text{padding-top:71px;font-size:13px;}

.listData li{padding:10px 0;}
.listData li .ranking{width:30px;height:45px;}
.listData li .ranking span{font-size:18px;}
.listData li .photo{width:45px;height:45px;margin-right:10px;}
.listData li .info .name{font-size:14px;padding-right:50px;}
.listData li .info .sex{height:12px;border-radius:5px;padding:2px 10px 2px 5px;}
.listData li .info .sex .icon{width:12px;height:12px;margin-right:2px;}
.listData li .info .sex .age{line-height:12px;font-size:12px;}

.listData li .info .label{height:17px;border-radius:5px;padding:0 10px 0 5px;margin-left:5px;}
.listData li .info .label .icon{width:17px;height:17px;margin-right:2px;}
.listData li .info .label .text{line-height:17px;font-size:12px;}

.listData li .value{right:10px;font-size:12px;}

.loading{width:120px;height:120px;}
}

@media screen and (min-width: 360px) and (max-width: 639px) {

}

@media screen and (min-width: 640px) and (max-width: 1079px) {
.wrapCont{height:264px;}
.wrapCont .num{top:32px;width:100px;height:100px;line-height:100px;font-size:30px;}
.wrapCont .text{padding-top:142px;font-size:26px;}

.listData li{padding:20px 0;}
.listData li .ranking{width:60px;height:90px;}
.listData li .ranking span{font-size:36px;}
.listData li .photo{width:90px;height:90px;margin-right:20px;}
.listData li .info .name{font-size:28px;padding-right:100px;}
.listData li .info .sex{height:24px;border-radius:10px;padding:5px 20px 5px 10px;}
.listData li .info .sex .icon{width:24px;height:24px;margin-right:5px;}
.listData li .info .sex .age{line-height:24px;font-size:24px;}

.listData li .info .label{height:34px;border-radius:10px;padding:0 20px 0 10px;margin-left:10px;}
.listData li .info .label .icon{width:34px;height:34px;margin-right:5px;}
.listData li .info .label .text{line-height:34px;font-size:24px;}

.listData li .value{right:20px;font-size:24px;}

.loading{width:240px;height:240px;}
}

@media screen and (min-width: 720px) and (max-width: 1079px) {

}

@media screen and (min-width: 1080px) {
.wrapCont{height:445px;}
.wrapCont .num{top:54px;width:168px;height:168px;line-height:168px;font-size:50px;}
.wrapCont .text{padding-top:239px;font-size:43px;}

.listData li{padding:33px 0;}
.listData li .ranking{width:101px;height:151px;}
.listData li .ranking span{font-size:60px;}
.listData li .photo{width:151px;height:151px;margin-right:33px;}
.listData li .info .name{font-size:47px;padding-right:168px;}
.listData li .info .sex{height:40px;border-radius:16px;padding:8px 33px 8px 16px;}
.listData li .info .sex .icon{width:40px;height:40px;margin-right:8px;}
.listData li .info .sex .age{line-height:40px;font-size:40px;}

.listData li .info .label{height:57px;border-radius:16px;padding:0 33px 0 16px;margin-left:16px;}
.listData li .info .label .icon{width:57px;height:57px;margin-right:8px;}
.listData li .info .label .text{line-height:57px;font-size:40px;}

.listData li .value{right:33px;font-size:40px;}

.loading{width:405px;height:405px;}
}