@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
body,button,input,select,textarea{font:400 0.7rem/1.5 Arial,"Lucida Grande",Verdana,"Microsoft YaHei","SimHei";color:#333}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe{display:block}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
address,cite,dfn,em,var,i{font-style:normal;font-weight:400}
html,body{height:100%;}
dfn{font-family:Arial}
ul,ol{list-style:none}
a{color:#000;text-decoration:none}
fieldset,img,button,input{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
input{border:0;background:transparent;box-sizing:border-box;outline:0;-webkit-appearance:none;border-radius:0}
body{min-width:16rem;overflow-x:hidden;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;-moz-user-select:none;background-color:#4ec4fc}
h1{font:600 1rem/2 Tahoma}
h2{font:600 0.9rem/2 Tahoma}
h3{font:600 0.8rem/1.5 Tahoma}
@media screen and (orientation:landscape){html{font-size:20px !important}}@media only screen and (device-width :320px){html{font-size:17px !important}}
@media only screen and (min-device-width:414px) and (max-device-width:736px){html{font-size:21px !important}}
:focus{outline:0}
.ellips{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.clearfix:after{clear:both;content:'.';display:block;height:0;visibility:hidden;line-height:0}
.clearfix{*zoom:1}
