<div class="user-action">
	<div class="container-fluid">
		<form class="user-input dropup">
			<button class="btn btn-primary btn-option dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th-list"></span></button>
			<ul class="dropdown-menu">
				<li><a href="javascript:;">HTML</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="javascript:;">CSS</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="javascript:;">JS</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="javascript:;">Other</a></li>
			</ul>
			<input type="text" class="form-control" placeholder="请输入内容" />
			<button class="btn btn-primary btn-send" disabled="disabled" type="button"><span class="glyphicon glyphicon-record"></span></button>
		</form>
	</div>
</div>