<!-- header -->
<div class="header" ui-view="header"></div>
<!-- content -->
<div class="content">
	<!-- list mode -->
	<div ng-repeat="item in resumeData">
		<!-- title-mode -->
		<div class="title-mode">
			<h2 class="title-cont">{{item.title}}</h2>
		</div>
		<!-- list-mode3 -->
		<div class="list-mode3">
			<ul class="clearfix">
				<li class="list-item" ng-repeat="subItem in item.description"><span class="item"><span class="" ng-class="{'float-r tags-item tags-item2':subItem.grade=='精通', 'float-r tags-item tags-item3':subItem.grade=='熟练', 'float-r tags-item tags-item1':subItem.grade=='了解'}">{{subItem.grade}}</span>{{subItem.text}}</span></li>
			</ul>
		</div>
	</div>
</div>