<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="styles/reset.css">
<link rel="stylesheet" href="styles/demo.css">
</head>
<body>
<div class="section-wrap" ng-app="app" ng-controller="mainController">
	<!-- header -->
	<div class="header">
		<div class="wrap">
			<label class="in-label">
				<span class="label-name">目录：</span>
				<input class="in-text" type="text" placeholder="输入原型目录名" ng-model="userDir" ng-keyup="myKeyup($event)" />
			</label>
			<label class="in-label">
				<span class="label-name">仓库：</span>
				<select class="in-select" ng-model="userProjects">
					<option value="">仓库一</option>
				</select>
			</label>
			<label class="in-label">
				<span class="label-name">分支：</span>
				<select class="in-select" ng-model="userBranchs">
					<option value="release">release</option>
				</select>
			</label>
			<button class="btn-init" ng-click="loadDir()">确定</button>
		</div>
	</div>
	<!-- content -->
	<div class="content">
		<ul class="html-list wrap">
			<li class="list-item clearfix" ng-repeat="data in htmlDatas | orderBy:'-date'">
				<h3 class="item-title" ng-bind="data.title"></h3>
				<p class="item-name">文件名：<span ng-bind="data.name"></span></p>
				<p class="item-date">修改时间：<span ng-bind="data.date"></span></p>
				<a ng-href="{{htmlURL}}/{{data.name}}" target="_blank" class="item-link"></a>
			</li>
		</ul>
	</div>
</div>
<!-- script library -->
<script src="scripts/angular.min.js"></script>
<script src="scripts/angular-sanitize.min.js"></script>
<script src="scripts/angular-ui-router.min.js"></script>
<!-- script common -->
<script src="scripts/app.js"></script>
</body>
</html>