<div class="detail-wrap">
	<h1 class="wrap-title">用AngularJS开发下一代web应用</h1>
	<div class="wrap-cont">
		<table class="wrap-table">
			<tbody>
				<tr>
					<td rowspan="6" class="book-img"><img src="images/book.jpg" /></td>
					<td><span class="book-title">出版日期：</span>2013-06</td>
				</tr>
				<tr>
					<td><span class="book-title">作者：</span>大漠穷秋</td>
				</tr>
				<tr>
					<td><span class="book-title">出版社：</span>电子工业出版社</td>
				</tr>
				<tr>
					<td><span class="book-title">类型：</span>计算机</td>
				</tr>
				<tr>
					<td><span class="book-title">是否有电子书：</span>无</td>
				</tr>
				<tr>
					<td><span class="book-title">定价：</span>50元</td>
				</tr>
			</tbody>
		</table>
		<div class="btn-item">
			<button class="btn btn-gray btn-goback">返回列表</button>
		</div>
	</div>
</div>