<main class="main-wrap">
	<table class="list-table">
		<thead>
			<tr>
				<th class="order">序号</th>
				<th class="name">书名</th>
				<th class="author">作者</th>
				<th class="date">出版日期</th>
				<th class="pirce">定价</th>
				<th class="handle">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td class="name">用AngularJS开发下一代web应用</td>
				<td class="author">大漠穷秋</td>
				<td>2014-01-01</td>
				<td><dfn>￥</dfn>35.00</td>
				<td><a href="javascript:;">详情</a></td>
			</tr>
			<tr>
				<td>2</td>
				<td class="name">用AngularJS开发下一代web应用</td>
				<td class="author">大漠穷秋</td>
				<td>2014-01-01</td>
				<td><dfn>￥</dfn>35.00</td>
				<td><a href="javascript:;">详情</a></td>
			</tr>
			<tr>
				<td>3</td>
				<td class="name">用AngularJS开发下一代web应用</td>
				<td class="author">大漠穷秋</td>
				<td>2014-01-01</td>
				<td><dfn>￥</dfn>35.00</td>
				<td><a href="javascript:;">详情</a></td>
			</tr>
			<tr>
				<td>4</td>
				<td class="name">用AngularJS开发下一代web应用</td>
				<td class="author">大漠穷秋</td>
				<td>2014-01-01</td>
				<td><dfn>￥</dfn>35.00</td>
				<td><a href="javascript:;">详情</a></td>
			</tr>
			<tr>
				<td>5</td>
				<td class="name">用AngularJS开发下一代web应用</td>
				<td class="author">大漠穷秋</td>
				<td>2014-01-01</td>
				<td><dfn>￥</dfn>35.00</td>
				<td><a href="javascript:;">详情</a></td>
			</tr>
		</tbody>
	</table>
	<div class="btn-item">
			<button class="btn btn-gray">添加内容</button>
		</div>
	<div class="list-page clearfix">
		<span class="list-info">Total Item: <i>5</i></span>
		<ul class="pagination">
			<li>PREV</li>
			<li class="cur">1</li>
			<li>2</li>
			<li>3</li>
			<li>NEXT</li>
		</ul>
	</div>
</main>