html,body,.container{
	height:100%;
}
html{
	background-image:url(#{$bg-path}background.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

body,input,select,button{
	font:14px/1.5 "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
	color:#333;
}

body,h1,h2,h3,ul,p{
	margin:0;
}

h1,h2,h3{
	font-size:16px;
	font-weight:normal;
}

input,button{
	outline:none;
}

ul{
	padding:0;
}

li{
	list-style:none;
}

i,em,cite{
	font-style:normal;
}

a{
	color:#666;
	text-decoration:none;
	&:hover{
		color:#333;
		text-decoration:underline;
	}
}

input[type="text"],input[type="password"],select{
	padding:5px;
	box-sizing:border-box;
	border:1px solid #ddd;
}

.clearfix{
	*zoom:1;
	&:after{
		content:"\20";
		display:block;
		height:0;
		visibility:hidden;
		clear:both;
	}
}

.hide{
	font-size:0;
	line-height:0;
	text-indent:-99rem;
	overflow:hidden;
}

.btn{
	display:inline-block;
	color:#fff;
	cursor:pointer;
	border-radius:3px;
	&:hover{
		opacity:.8;
	}
	&.btn-red{
		background-color:red;
	}
	&.btn-gray{
		background-color:gray;
	}
}
.btn-red,.btn-gray{
	border:none;
}